body {
    font-family: Montserrat, sans-serif;
    
}
.container {
    width: 1287px;
    height: 720px;
    background-image: url(../image/Rectangle\ 1.png), url(../image/photo-1631930879015-517ed3c5ed01\ 1.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;



}

.logo {
    width: 140px;
    height: 140px;
    background-image: url(../image/Group\ 1.png), url(../image/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-top: 32px;
    margin-left: 578px ;
    
}


.text1 {
        font-size: 29px;
        letter-spacing: 0.39em;
        color: #ffffff;
        margin-top: 32px;
        left: 550px;
        position:relative;
    }

    .login {
        height: 50px;
        width: 302px;
        background-color: transparent;
        border: 3px solid #ffffff;
        color: #ffffff;
        font-size: 19px;
        font-weight: 800;
        letter-spacing: 0.12em;
        position: relative;
        top: 33px;
     margin-left: 495px;
    }

.login:hover {
    background-color: rgb(147, 161, 106);
    cursor: pointer;
}


.signup {
    height: 50px;
    width: 302px;
    background-color: transparent;
    border: 3px solid #ffffff;
    color: #ffffff;
    font-size: 19px;
    font-weight: 800;
    line-height: 23.16px;
    letter-spacing: 0.12em;
    margin-left: 495px;
    margin-top: 72px;
    

}

.signup:hover {
    background-color: rgb(147, 161, 106);
    cursor: pointer;
}